.first-line{
    display: flex;
    gap: 1rem;
    place-items: center;
}

.title-normal{
    color: white;
    margin-bottom: -1rem;
    margin-top: -0.6rem;
    font-size: small;
}

.title-hover{
    color: #26a9f1;
    font-size: small;
    margin-bottom: -1rem;
    margin-top: -0.6rem;
}
