.automation-title{
    color:white;
    font-weight: bold;
    margin-bottom:1vh;
}

.run-details{
    color:#a1a1a1;
    font-size: small;
    display: flex;
    justify-content: left;
    gap:4vw;
    margin-bottom:2vh;

}

.summary{
    color:#a1a1a1;
    font-size: small;
}

.icons{
    display: flex;
    justify-content: right;
    gap:1vw;
}

.card-header{
    place-items: center;
}

.tag-container{
    display: flex;
    gap: 1vw;
    margin-bottom: 2vh;
}

.card{
    display: flex;
    gap: 1vw;
}

.agent-icon-background{
    background-color: #001b18;
    width: 3vw;
    height: 6vh;
    border-radius: 10px;
    border: 1px solid #324845;
    display: flex;
    justify-content: center;
    place-items: center;
}

.info{
    width: 100%;
}