.card-title-icon {
    display: flex;
    justify-content: space-between;
}

.container{
    display: flex;
    justify-content: space-between;
    gap:3%;
}

.card-0-icon{
    color: #26a9f1;
    display: grid;
    place-items: center;
}

.card-1-icon{
    color: #fdc700;
    display: grid;
    place-items: center;
}

.card-2-icon{
    color: #05df72;
    display: grid;
    place-items: center;
}

.card-3-icon{
    color: #ff6467;
    display: grid;
    place-items: center;
}

.data-1-desc {
    color: #05df72;
    font-size: x-small;
}

.data-2-desc {
    color: #a1a1a1;
    font-size: x-small;

}


.data-3-desc {
    color: #ff6467;
    font-size: x-small;
}