.automations-container{
    background: linear-gradient(to bottom right, #000911, #31353a); 
    position: absolute;
    width: 100%;
    height: fit-content;  
}

.automations-subtitle{
    color: #a1a1a1;
    margin-top: 2rem;
    margin-left: 6rem;
}

.status-cards{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    margin-left: 7vw;
    margin-right: 7vw;
}

.automation-tabs{
    margin-top: 1rem;
}

.automations-tab{
    margin-right: 7vw;
    margin-left: 7vw;
}


.card-subtitle{
    color:white;
    font-size: small;
}

.impact-summary{
    color:#a1a1a1;
    font-size: small;
    margin-top: 1vh;

}