.pulse-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 200px; 
}

.description {
    font-size: small;
    color: #808080;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
