.task{
    color:white;
}

.details{
    color:#a1a1a1;
    font-size: small;
    margin-top:2vh;
}

.details-container{
    display: flex;
    justify-content: space-between;
    gap: 2vw;
}

.estimated-impact{
    color:white;
    font-size: small;
}

.summary-info{
    display: flex;
    justify-content: space-between;
    font-size: x-small;
    color:#a1a1a1;
    margin-top: 1vh;
}

.platform{
    font-size: xx-small;
    color: #a1a1a1;
    margin-top:2vh;
}