.high-impact{
    background-color: #190c14;
    font-size: xx-small;
    width: fit-content;
    display: flex;
    font-weight: bold;
    color:  #ff6467;
    justify-content: center;
    border: 1px solid  #46121b;
    border-radius: 7px;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.normal-impact{
    background-color: #181a0f;
    font-size: xx-small;
    width: fit-content;
    display: flex;
    font-weight: bold;
    color:  #f8bf00;
    justify-content: center;
    border: 1px solid  #43380c;
    border-radius: 7px;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.category{
    background-color: #04152a;
    font-size: xx-small;
    width: fit-content;
    display: flex;
    font-weight: bold;
    color:  #4194ff;
    justify-content: center;
    border: 1px solid  #0b274f;
    border-radius: 7px;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}