.high-priority{
    background:rgba(255, 100, 103, .1);
    font-size: xx-small;
    width: fit-content;
    font-weight: bold;
    color:  #ff6467;
    justify-content: center;
    border: 1px solid  #46121b;
    border-radius: 7px;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.medium-priority{
    background:rgba(253, 199, 0, .1);
    font-size: xx-small;
    width: fit-content;
    font-weight: bold;
    color:  #fdc700;
    justify-content: center;
    border: 1px solid  #43380c;
    border-radius: 7px;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.low-priority{
    background: rgba(80, 162, 255, .1);
    font-size: xx-small;
    font-weight: bold;
    width: fit-content;

    color:  #4194ff;
    justify-content: center;
    border: 1px solid  #0b274f;
    border-radius: 7px;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.active-badge{
    display: flex;
    color:white;
    font-size: x-small;
    font-weight: bold;
    border-radius: 5px;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    background-color: #05df72;
    width: fit-content;
}

.paused-badge{
    display: flex;
    color:white;
    font-size: x-small;
    font-weight: bold;
    border-radius: 5px;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    background-color: #f8bf00;
    width: fit-content;
}

.draft-badge{
    display: flex;
    color:white;
    font-weight: bold;
    font-size: x-small;
    border-radius: 5px;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    background-color: #f8bf00;
    width: fit-content;
    color:#a1a1a1;
}

.title-badges{
    display: flex;
    justify-content: left;
    place-items: center;
    gap:1vw;
}

.tag{
    display: flex;
    font-weight: bold;
    color:white;
    font-size: x-small;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    background-color: #031826;
    width: fit-content;
    border-radius: 5px;
}

.low-risk{
    display: flex;
    color:#05df72;
    font-size: x-small;
    font-weight: bold;
    border: 1px solid #05df72;
    border-radius: 5px;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    background: rgba(5, 233, 144, .1);
    width: fit-content;
}

.critical-risk{
    display: flex;
    color:#ffa28f;
    font-size: x-small;
    font-weight: bold;
    border: 1px solid  #941923;
    border-radius: 5px;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    background:rgba(255, 100, 103, .2);
    width: fit-content;
}

.urgent-badge{
    display: flex;
    color:#ff645d;
    font-size: x-small;
    font-weight: bold;
    border: 1px solid  #651621;
    border-radius: 5px;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    background:rgba(255, 100, 103, .2);
    width: fit-content;
}