.header{
    color: white;
}

.subheader{
    color: #a1a1a1;
    font-size: smaller;
}

.footprint-overview{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recommendations-header {
    display: flex;
    justify-content: space-between;
    place-items: center;
}

.actions-channel-container{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 1.5rem;
}

.recommended-actions-container{
    width: 95rem;
}

.connected-channels{
}

.home-container{
    margin-top: 2rem;
    margin-right: 5rem;
    margin-left: 5rem;
}

.quick-wins-footer{
    display: flex;
    justify-content: center;

}