.header{
    color: white;
}

.footprint-overview{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recommendations-header {
    display: flex;
    justify-content: space-between;
}

.ai-powered {
    font-size: x-small;
    font-weight: bold;
    border: 1px solid #052032;
    height: fit-content;
    padding: 0.3rem;
    border-radius: 10px;
    display: flex;
}